@font-face {
  font-family: 'settledown';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/28831/settle_down-webfont.woff2')
      format('woff2'),
    url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/28831/settle_down-webfont.woff')
      format('woff');
  font-weight: 100;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(https://learnnode.com/images/NODE/pattern.svg);
}

.Main-navbar {
  background-color: #007bff;
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 5px 0px;
  position: relative;
  height: 50px;
}

.Main-navbar a {
  color: white;
}

.Main-footer {
  background-color: rgba(0, 0, 0, 0.1);
  height: 100px;
}

.Content-header {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  color: white;
  text-align: center;
}

.Content-header h1 {
  font-size: 40px;
  font-weight: 100;
  font-family: 'settledown';
  line-height: 0.9;
}

.Content-header .subtitle {
  font-size: 100px;
  font-weight: 100;
  font-family: 'settledown';
  line-height: 0.9;
}

.Content-body {
  padding: 20px;
  color: #262626;
}

.Series > div {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 5px;
  background-color: white;
  padding: 20px;
  width: 600px;
  margin: 0px auto 20px auto;
}

.Model-line {
  display: flex;
  margin-bottom: 0px;
}

.Model-line dt {
  text-align: left;
  flex: 2;
}

.Model-line dd {
  text-align: right;
  flex: 1;
}

.Offer {
  margin-bottom: 20px;
  background-color: white;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 5px;
}

.Offer .Price {
  font-size: 40px;
  font-weight: 100;
}

.Offer .picture {
  flex-basis: 200px;
}

.Offer .informations {
  flex: 100;
}

.Offer h3 {
  font-size: 20px;
}

.Offer .price {
  flex-basis: 110px;
  text-align: right;
  padding-top: 40px;
}

.flex {
  display: flex;
}

.flex > div {
  flex: 1;
}

a {
  text-decoration: none;
}

.Main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.Main-top {
  flex: 1 0 auto;
}

ul > li.active {
  font-weight: bold;
}

.rainbow-wrapper {
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background: linear-gradient(
    124deg,
    #ff2400,
    #e81d1d,
    #e8b71d,
    #e3e81d,
    #1de840,
    #1ddde8,
    #2b1de8,
    #dd00f3,
    #dd00f3
  );
  background-size: 1800% 1800%;
  animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
