body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Main-navbar {
  background-color: #4294ff;
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 5px 0px;
}

.Main-navbar a {
  color: white;
}

.Main-footer {
  background-color: #9b9b9b;
  height: 100px;
}

.Content-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Content-body {
  padding: 20px 0px;
}

.Model-line {
  display: flex;
  width: 300px;
  margin: auto;
}

.Model-line dt {
  text-align: left;
  flex: 1;
}

.Model-line dd {
  text-align: right;
  flex: 1;
}

.details {
  font-size: 12px;
  color: #aaa;
}

a {
  text-decoration: none;
}

.Main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.Main-top {
  flex: 1 0 auto;
}
